html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
font-family: 'Indie Flower', cursive;
}
	h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 20px;    
  line-height: 2;
  letter-spacing: 1px;
}
html {
  background-color: #ff0000;
}

body {
  width: 700px;
  margin: 0 auto;
  background-color: #000000;
  padding: 0 30px 30px 30px;
  border: 5px solid black;
}
p,li,h1 {
	color: white;
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
